// Colors
$color-primary-green: #00A676; // Primær grøn
$color-secondary-green: #1DB439; // Sekundær grøn
$color-accent-brown: #952E0D; // Accent brun/rød
$color-bg-light: #F5F5F5; // Lys baggrund
$color-bg-white: #FFFFFF; // Hvid
$color-text-black: #000000; // Sort tekst

// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$font-main: 'Roboto', Arial, Helvetica, sans-serif;
